body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: arial,sans-serif;
}
/* HEADER */
header{
    width: 100%;
    height: 60px;
}
/*  especifico que de la etiqueta header voy a modificar a la etiqueta nav para que se alinie a la derecha*/
header nav{
     /* se asigna propiedad al contenedor padre FLEX */
    display: flex;
    /* justify-content acomoda de forma  en este caso al final de la hoja*/
    justify-content: flex-end;
}
.nav-right-section{
    /* ajusta el tamaño de la hoja y hace que no aparezca un scroll */
    width: 250px;
    /* distancia del top de la pagina */
    height: auto;
    /* se asigna propiedad al contenedor padre FLEX */
    display: flex;
    /* se quitan viñetas */
    list-style: none;
    /* justify-content acomoda de forma  en este caso centrado */
    justify-content: center;
    /* Acomoda de forma vertical */
    align-items: center; 
 
}
a{
    /* se quita el hipervinculo */
    text-decoration: none;
    /* se coloca cursor de manita */
    cursor: pointer;

}
/* especifico que de la clase nav de la seccion de la derecha (gmail imagenes cuadros y foto) la etiqueta "a" será la que se modificara */
.nav-right-section a{
    /* es el espacio que existe entre cada elemento */
    margin-right: 25px; 
     /*el color de fuente que se utiliza   */
    color: #202124;
}
nav .nav-right-section img{
    border-radius: 80px;
    width: 35px;
    height: 35px;
}
nav .nav-right-section .menu-icon{
    background-image: url("https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png");
    width: 27px;
    height: 27px;
    background-size: contain; /*el tamaño del contenedor 27px en este caso*/
    background-position: center;
    background-repeat: none;
    margin-right:25px; 
    cursor: pointer;
}

/* MAIN */
main{
    margin-top: 30px;
    text-align: center;
}
main .main-logo{
    width: 350px;
    margin: 0 auto;/* 2 valores en una propiedad centrar em*/
    margin-bottom: 35px;
}
main .main-logo img{
    width: 310;
    height: 110px;
}
main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
    
}
main .main-input input{
    width: 450px;/*ancho de la barra de busqueda*/ 
    height: 40px;/*altura de la barra de busqueda*/
    border: none;/* se quita el borde*/
    outline: none; /*hace que se borre la linea del input al ingresar texto*/
}

main .main-input-container{
    width: 525px;
    border: 1px solid #dfe5df;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
}

main .main-input .search-icon{
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    width: 18px;
    height: 18px;
    padding-left: 25px;
    background-repeat: no-repeat; /*se coloca   background-repeat: no-repeat para no repetir la imagen del background image */
    background-position: center;
    background-size: contain;
}
main .main-input .micro-icon{ /* para colocar el icono del microfono lado derecho*/
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png');
    width: 18px;
    height: 18px;
    padding-left:5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main .main-input .cam-icon{
    background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQU9EB56qp8B5qgt89OtkGpN86KFafBM7cBixk1nXOs7ukEVbJE');
    width: 18px;
    height: 18px;
    padding-right:25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main .main-buttons{ /* tamaño de la seccion botones*/
    width: 530px;
    margin: 0 auto;    
}

main .main-buttons div{ /* acomodo de los botones */
    display: inline-block;
}

main .main-buttons button{
    height: 36px;
    background-color: #f8f9fa;
    border: 0;
    font-size: 14px;
    color: #5f6368;
    border-radius: 6px;
    padding: 0 15px;
    margin-right: 12px;
}

main .main-buttons button:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 0.5px 1px 0 #20212447 ;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 15px;
    border-top: 1px solid #e4e4e4;
    
   

}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left{
    justify-self: left;

}

footer .footer-right{
    justify-self: right;
}

footer li{
    margin: 10px;
}

footer a{
    color: #202124;
}


